.app-ranking {
  margin-top: 20px;

  .table-app {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  th {
    color: rgba(0, 0, 0, 0.795) !important;
  }

  .ant-table-cell {
    line-height: 25px;
  }

  .ant-table-cell-fix-left {
    font-weight: 700;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 5px 0;
  }

  .item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .positions {
      display: flex;
      margin-right: 20px;
      width: 100px;
      .total-rank {
        margin-right: 5px;
      }
      .rank {
        display: flex;
        align-items: center;
        border-radius: 8px;
        color: #fff;
        font-size: 12px;
        padding: 0 5px;
        .down {
          margin-left: 2px;
        }
      }
      .rank-down {
        background-color: #dc3544;
      }
      .rank-up {
        background-color: #27a844;
      }
    }
  }
  .ai-keyword {
    padding: 20px 0;
    text-align: center;
  }
  .upgrade-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 30px;
    a {
      background-color: #05396c;
      border-color: #05396c;
      color: #ffffff;
      padding: 3px 20px;
      border-radius: 7px;
      margin-bottom: 10px;
      &:hover {
        background-color: #0e4883;
      }
    }
    .text {
      font-size: 12px;
      color: #868686;
    }
  }
  .ranking {
    span {
      font-weight: 700;
    }
    a {
      text-decoration: underline;
    }
    .see-more {
      cursor: pointer;
      span {
        font-weight: 500;
        .rotate-icon {
          transform: rotate(90deg);
          font-size: 13px;
        }
        .rotate-icon-hide {
          transform: rotate(270deg);
          font-size: 13px;
        }
      }
    }
  }
  .not-data {
    font-weight: 700;
  }
  .categories-ranking {
    .see-more {
      cursor: pointer;
      font-weight: 500;
      span {
        font-weight: 500;
        .rotate-icon {
          transform: rotate(90deg);
          font-size: 13px;
        }
        .rotate-icon-hide {
          transform: rotate(270deg);
          font-size: 13px;
        }
      }
    }
  }
  .collections-ranking-most {
    margin-top: 27px;
  }
  .text-nowarp {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
